* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
canvas {
  position: fixed;
  left: 0;
  top: 0;
}
#output {
  position: fixed;
  left: 0;
  top: 0;
  width: 128px;
  height: 128px;
  padding: 20px;
  background: #73f5ad;

  z-index: 20;
}
#output > * {
  fill: rebeccapurple;
}
